<h2><%=@genre.name.capitalize%></h2>

<% @genre.songs.each do |song| %>
    <p><a href = '/songs/<%=song.slug%>'><%=song.name%></a> by
    <a href = '/artists/<%=song.artist.slug%>'><%=song.artist.name%></a></p>
<% end %>