<h1>THIS IS UPDATE EXISTING SONG PAGE</h1>
<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="name" value="<%= @song.name %>">

  <br></br>

  <label>Artist:</label>
  <br></br>
  <input type="text" name="artist" value="<%= @song.artist.name %>">

  <br></br>

  <label>Choose an existing genre:</label>
  <br>
  <% @genres.each do |genre|%>
    <input type="checkbox" name="genre_ids[]" value="<%=genre.id%>" id="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>

  <br></br>

  <input type="submit" value="Update Song">
</form>